<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <app-header></app-header><!-- COMPONENTE -->
    <app-sidebar></app-sidebar><!-- COMPONETE -->
    <div class="page-wrapper">

        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- sistema de rutas -->
            <!-- ============================================================== -->
            <router-outlet> </router-outlet>
        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2022 Admin Pro Victor Felipe Alvarez Rojas
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>
</div>