<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3>

                <div class="row animated fadeIn fast" *ngIf="usuario.length===0">
                        <div class="alert alert-info text-center">
                            <p class="mb-0">No hay usuarios con ese termino</p>
                        </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of usuario">
                                <td>
                                    <img
                                     class="w50 cursor"
                                     [src]="item.imagen | imagen: 'usuarios'"
                                     alt="imb-medico"
                                     />
                                </td>
                                <td>{{item.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Medicos</h3>

                <div class="row animated fadeIn fast" *ngIf="medico.length===0">
                        <div class="alert alert-info text-center">
                            <p class="mb-0">No hay medicos con ese termino</p>
                        </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of medico">
                                <td>
                                    <img
                                     class="w50 cursor"
                                     [src]="item.imagen | imagen: 'usuarios'"
                                     alt="imb-medico"
                                     />
                                </td>
                                <td>
                                    <a [routerLink]="['/dashboard/medico',item.id]">
                                        {{item.nombre}}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3>

                <div class="row animated fadeIn fast" *ngIf="hospital.length===0">
                        <div class="alert alert-info text-center">
                            <p class="mb-0">No hay hospitales con ese termino</p>
                        </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of hospital">
                                <td>
                                    <img
                                     class="w50 cursor"
                                     [src]="item.imagen | imagen: 'hospital'"
                                     alt="imb-medico"
                                     />
                                </td>
                                <td>{{item.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
