<div class="row">
    <div class="col-6">
        <app-dona
            tituloGrafico = "Grafico circular"
            [label] = "labels1"
            [data] = "contenido1"
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona
            tituloGrafico = "Grafico circular 2"
            [label] = "labels1"
            [data] = "contenido2"
        ></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona
            tituloGrafico = "Grafico circular 3"
            [label] = "labels1"
            [data] = "contenido3"
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona></app-dona>
    </div>
</div>